* {
  cursor: url("../assets/images/Cursor.png"), auto;
}

body {
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Summer Show";
  src: url("../assets/fonts/Summer-Show.ttf") format("truetype");
}

.pointer {
  cursor: url("../assets/images/Pointer.png"), auto;
}

.typer {
  cursor: url("../assets/images/Typer.png"), auto;
}