* {
  cursor: url("../assets/images/Cursor.png"), auto;
}

body {
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Summer Show";
  src: url("../assets/fonts/Summer-Show.ttf") format("truetype");
}

button, .pointer {
  cursor: url("../assets/images/Pointer.png"), auto !important;
}

.typer {
  cursor: url("../assets/images/Typer.png"), auto;
}

.Toastify__toast {
  background-color: #FBF6D8;
  filter: drop-shadow(-3px 4px 6px black);
}

.Toastify__toast-body {
  color: #7C382D;
  font-family: "Summer Show";
}

.MuiPickersMonth-monthSelected, .MuiPickersYear-yearSelected {
  color: #207067 !important;
}